<div class="col">
    <h2 class="text-center text-primary">Temas</h2>

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-primary" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tema 1
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 1</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 2</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 3</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 4</a>
                  </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-primary" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tema 2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 1</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 2</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 3</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 4</a>
                  </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-primary" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tema 3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 1</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 2</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 3</a>
                    <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 4</a>
                  </div>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header bg-primary" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Tema 4
                </button>
              </h5>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 1</a>
                      <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 2</a>
                      <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 3</a>
                      <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 4</a>
                    </div>
              </div>
            </div>
          </div>
      </div>

      <div class="card">
        <div class="card-header bg-primary" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Tema 5
            </button>
          </h5>
        </div>
    
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 1</a>
                  <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 2</a>
                  <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 3</a>
                  <a class="nav-link" href="https://www.google.com.br/" target="_blank">Nível 4</a>
                </div>
          </div>
        </div>
      </div>
      
</div>
