.fs-50{
    font-size: 50pt;
}

.fs-30{
    font-size: 30pt;
}

.mt-2{
    margin-top: 2pt;
}

.mt-5{
    margin-top: 5pt;
}

.carousel-caption{
    background: rgba(0,0,0,0.8);
}

#postagens{
    margin: 30px;
}

@media screen and (max-width: 500px) {
 
    .imagem-group{
        max-width: 300px;
        max-height: 300px;
    }   
}