<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-9">

            <!--Escrever Postagem-->
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center width='100%'">Publicações</h1>
                </div>

                <div class="form-group">

                    <input [(ngModel)]='posts.tituloPosts' type="text" class="form-control width='100%'"
                        id="tituloPosts" placeholder="Digite o título da sua postagem">

                    <textarea [(ngModel)]='posts.textoPosts' type="text" class="form-control width='100%'"
                        id="textoPosts" rows="4" placeholder="Digite aqui sua postagem">
                    </textarea>
                </div>
            </div>
            <!--Escrever Postagem-->


            <!--Botões-->
            <div class="btn-group justify-align-center" role="group" aria-label="Exemplo básico">
                <button class="btn btn-secondary mt-2 mr-3">Foto</button>
                <button class="btn btn-secondary mt-2 mr-3">Video</button>
                <button class="btn btn-secondary mt-2 mr-3">Documento</button>
                <button class="btn btn-secondary mt-2 mr-3" (click)='cadastrar()'>Escreva um artigo</button>
            </div>
            <!--Botões-->


            <!--Visualização das Postagens-->
            <div class="container">
                <div class="mt-5" *ngFor='let posts of listaPosts'>
                    <div class="card">
                        <h5 class="card-header">{{nome}}</h5>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{posts.tituloPosts}}</h5>
                            <p class="card-text text-justify">{{posts.textoPosts}}</p>
                            <a href="#" class="btn btn-primary mr-3">Curtir</a>
                            <a href="#" class="btn btn-primary mr-3">Comentar</a>
                            <a href="#" class="btn btn-primary mr-3">Compartilhar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Visualização das Postagens-->

        </div>
    </div>

</div>