<div class="container"> 
    <!-- Inserção do sidebar na Publicação-->
    <div class="row align-items-center">
        <div class="col-md-3"> <app-side></app-side> </div>

<!-- Publicações-->
            <div class="col md-9">
                <div class="card">
                    <div class="card-header ">
                        <h1>Publicações </h1>
                    </div>
                    <div>
                        <div>
                            <form>

                                <div class="form-group row">

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                                        placeholder="Escreva aqui a sua Publicação" class="form-control form-control-lg" id="colFormLabelLg" ></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn-group justify-allign-center" role="group" aria-label="Exemplo básico">
                    <button type="button" class="btn btn-secondary mr-3">Foto</button>
                    <button type="button" class="btn btn-secondary mr-3">Video</button>
                    <button type="button" class="btn btn-secondary mr-3">Documento</button>
                    <button type="button" class="btn btn-secondary mr-3">Escreva um artigo</button>
                </div>
<!-- /Publicações-->
                
                <!-- Visualização do Post-->
                <div class="card  ">
                    <div class="card-header">
                       <h5>Nome do Usuario</h5> 
                    </div>


                    <div class="card-body">
                        <h5 class="card-title text-center">Título do Post</h5>
                        <h5 class="card-title text-end">Tema do Post</h5>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt
                            impedit
                            quas quaerat, excepturi, exercitationem rem sunt nihil nesciunt, iure illum odio eius?
                            Eligendi
                            hic tenetur aliquam voluptatum maiores accusantium.Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Non deserunt impedit quas quaerat, excepturi, exercitationem rem sunt
                            nihil
                            nesciunt, iure illum odio eius? Eligendi hic tenetur aliquam voluptatum maiores
                            accusantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt impedit
                            quas
                            quaerat, excepturi, exercitationem rem sunt nihil nesciunt, iure illum odio eius? Eligendi
                            hic
                            tenetur aliquam voluptatum maiores accusantium.Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Non deserunt impedit quas quaerat, excepturi, exercitationem rem sunt
                            nihil
                            nesciunt, iure illum odio eius? Eligendi hic tenetur aliquam voluptatum maiores
                            accusantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt impedit
                            quas
                            quaerat, excepturi, exercitationem rem sunt nihil nesciunt, iure illum odio eius? Eligendi
                            hic
                            tenetur aliquam voluptatum maiores accusantium.</p>
                        <a href="#" class="btn btn-primary mr-3">Gostei</a>
                        <a href="#" class="btn btn-primary mr-3">comentar</a>
                        <a href="#" class="btn btn-primary mr-3">Compartilhar</a>
                        <a href="#" class="btn btn-primary mr-3 ">Enviar</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 dias atrás
                    </div>
                </div>
                <!-- /Visualização do Post-->
            </div>
    </div>
