#fundo{
    background-image: url('https://cdn.statically.io/img/free4kwallpapers.com/uploads/originals/2019/08/14/high-tech-earth-wallpaper.jpg');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center;
      
}

.conteudo{
    background: rgba(0,0,0,0.5);
}
img{
    max-width: 600px;
}

/*.titulo{
    max-width: 400px;
    margin-left: 95px;
}*/
@media screen and (max-width: 658px){
    img{
        max-width: 360px;
    }
}

@media screen and (max-width: 375px){
    img{
        display: none;
    }
}

@media screen and (max-width: 420px){
    img{
        max-width: 360px;
    }
}

@media screen and (max-width:1366px){
    #fundo{
        height: auto;
    }
    img{
        max-width: 400px;
    }
}