.rounded-circle:hover{
    
    opacity: 0.5;
}

.btn{
    color:black;
    opacity: 0.5;
}

.btn-outline-primary:hover{
    color:#35B2ff;
    opacity: 0.5;
}

.btn-primary:hover{
    color: #35B2ff;
}

