<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="texte-center">Perfil</h1>

      <div class="col-md-12 text-white conteudo">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 mt-5 mb-5 justify-content-center">
                <h1 class="text-center mb-3">Atualizar perfil</h1>

                <div class="form-group">
                    <label for="nome"> Nome</label>
                    <input 
                    [(ngModel)]='usuario.nome'
                    class="form-control"
                    type="text"
                    name="nome"
                    id="nome"
                    placeholder="Entre com o nome"
                    />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                    [(ngModel)]='usuario.email'
                    class="form-control"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Entre com um email"
                    />
                </div>

                <div class="form-group">
                    <label for="foto">Link da foto de perfil</label>
                    <input
                    [(ngModel)]='usuario.foto'
                    class="form-control"
                    type="text"
                    name="foto"
                    id="foto"
                    placeholder="Entre com um link para foto"
                    />
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input
                    (input)='cSenha($event)'
                    class="form-control"
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="Entre com uma senha"
                    />
                </div>

                <div class="form-group">
                    <label for="confirmSenha"> Confirme a Senha</label>
                    <input
                    [(ngModel)]='usuario.senha'
                    class="form-control"
                    type="password"
                    name="confirmSenha"
                    id="confirmSenha"
                    placeholder="Entre com uma senha"
                    />
                </div>

                <div class="d-flex justify-content-center mb-5 mt-5">
                    <button class="btn btn-danger mr-4" routerLink="/posts">Cancelar</button>
                    <button class="btn btn-success" (click) = 'atualizar()'>Atualizar</button>
                </div>
                <div>
                    <button class="btn btn-danger mr-4" routerLink="/entrar">Sair</button>
                </div>
            </div>
            
           
            
        </div>
    </div>

    </div>
  </div>
</div>