<div class="container-fluid">

    <div class="col-md-3" id="img-bg">

    </div>
    <div class="col-md-9">
        <div class="row d-flex justify-content-end">
            <div class="col-md-9 ">
                <div class="card ml-3 ">
                    <div class="card-header text-center">
                      Destaque
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Título especial</h5>
                      <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                      <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 dias atrás
                    </div>
                  </div>


            </div>
        </div>
    </div>
    
</div>







