<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1 id="titulo" class="text-center clicavel" routerLink=''>Home</h1>

<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center align-items-center">


        <!--NOME 1-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://wallpapercave.com/wp/wp4247401.jpg" alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <!--PROFILE CARD-->
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/dK5a2RY.png?1" alt="John" style="height: 290px; width:100%">
                            <h2 class="fontesLetras">John Doe</h2>
                            <p class="fontesLetras">CEO & Founder, Example</p>
                            <p class="fontesLetras">Harvard University</p>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                    <!--PROFILE CARD-->
                </div>
            </div>
        </div>
        <!--NOME 1-->


        <!--NOME 2-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://images7.alphacoders.com/100/1005643.jpg" alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <!--PROFILE CARD-->
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/dK5a2RY.png?1" alt="John" style="height: 290px; width:100%">
                            <h2 class="fontesLetras">John Doe</h2>
                            <p class="fontesLetras">CEO & Founder, Example</p>
                            <p class="fontesLetras">Harvard University</p>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                    <!--PROFILE CARD-->
                </div>
            </div>
        </div>
        <!--NOME 2-->


        <!--NOME 3-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://image.winudf.com/v2/image/Y29tLmhkd2Nhci5uZXd3YXRlcmZhbGxfc2NyZWVuc2hvdHNfNF83ZGZlMmIxNg/screen-4.jpg?fakeurl=1&type=.jpg" alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <!--PROFILE CARD-->
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/dK5a2RY.png?1" alt="John" style="height: 290px; width:100%">
                            <h2 class="fontesLetras">John Doe</h2>
                            <p class="fontesLetras">CEO & Founder, Example</p>
                            <p class="fontesLetras">Harvard University</p>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                    <!--PROFILE CARD-->
                </div>
            </div>
        </div>
        <!--NOME 3-->


        <!--NOME 4-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://wallpapercave.com/wp/wp1844664.jpg" alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <!--PROFILE CARD-->
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/dK5a2RY.png?1" alt="John" style="height: 290px; width:100%">
                            <h2 class="fontesLetras">John Doe</h2>
                            <p class="fontesLetras">CEO & Founder, Example</p>
                            <p class="fontesLetras">Harvard University</p>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                    <!--PROFILE CARD-->
                </div>
            </div>
        </div>
        <!--NOME 4-->


        <!--NOME 5-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://image.winudf.com/v2/image/Y29tLmNvc21pY21vYmlsZS5sdy5wYXJpc19saXZlX3dhbGxwYXBlcl9zY3JlZW5fMF8xNTI4NzUyMTIyXzAxMw/screen-0.jpg?fakeurl=1&type=.jpg" alt="Avatar" style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <!--PROFILE CARD-->
                    <div class="card">
                        <div>
                            <img src="https://i.imgur.com/dK5a2RY.png?1" alt="John" style="height: 290px; width:100%">
                            <h2 class="fontesLetras">John Doe</h2>
                            <p class="fontesLetras">CEO & Founder, Example</p>
                            <p class="fontesLetras">Harvard University</p>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                    <!--PROFILE CARD-->
                </div>
            </div>
        </div>
        <!--NOME 5-->


    </div>
</div>