/*You can add global styles to this file, and also import other style files */
html, body{
    background-image: url('https://i.imgur.com/JVRLGCm.jpg');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position:fixed;  
    scroll-behavior: smooth ;
   
}

.conteudo{
    background: rgba(0,0,0,0.9);
    
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}
