/*You can add global styles to this file, and also import other style files */
html, body{
    background-color: #6c757d;

    scroll-behavior: smooth ;
}


.conteudo{
    background: rgba(0,0,0,0.5);
    
}


