ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fab{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover{
    color: #35B2ff;
}

.fa-linkedin:hover{
    color:#35B2ff;
}

.fa-instagram:hover{
    color: #35B2ff;
}

.bg-collor{

    background-color: #020005;
}

.txtcollor{
    color: #35B2ff;
}

a:link 
{ 
 text-decoration:none; 
} 