<footer class="page-footer font-smal bg-collor p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <h4 class="txtcollor">Para mais informações:
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://github.com" target="_blank" class="ico-github">
                                    <i class="fab fa-github txtcollor"></i>
                                </a>

                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank" class="ico-linkedin txtcollor">
                                    <i class="fab fa-linkedin txtcollor"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" class="ico-instagram">
                                    <i class="fab fa-instagram txtcollor"></i>
                                </a>

                            </li>
                        </ul>
                    </div>


                </div>
                 </h4>
                <P>

                </P>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <a routerLink='/sobre-nos'>
                    <h4 class="txtcollor link">Sobre a Equipe</h4>
                </a>
            </div>
        </div>

    </div>
    <div class="footer-copyright bg-collor text-center py-3">
        <span class="txtcollor"> EducaTI &copy; 2021  Copyright</span>
    </div>

</footer> 
